 <%= turbo_frame_tag "task_list" do %>
    <div class="container shadow rounded p-3">
        <h1> Tasks for <%= @category.name %></h1>
        <p class="lead"><%= @category.description %></p>
        <p><%= @category.id %></p>
    </div>
<% end %>