
 @import "hover-icon";

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

.home-main-container {
    height: 100vh;
}

.toast {
    position: fixed;
    z-index: 1050;
    left: 35%;
    top: 5%;
}