
<%= turbo_frame_tag "category_list" do %>
    <div class="d-grid gap-2 shadow rounded p-3">
        <%= turbo_stream_from current_user, "categories" %>
        <h4 class="text-center">Your categories</h4>

        <div id="categories" data-controller="categ-btn">
            <% if @categories.any? %>
                    <% @categories.each do |category| %>
                        <%= render 'categories/category', category: category %>
                    <% end %>     
            <% end %>
        </div>
    <%= link_to "Add a Category", new_user_category_path(current_user), class:"btn btn-outline-success", 
        data: {
            turbo_frame: :inside_modal,
            controller: "modal-button",
            action: "click->modal-button#handleClick",
            "bs-toggle": "modal",
            "bs-target": "#signedInModal"
        } %>
    </div>
<% end %>