<%= turbo_frame_tag "category_list" do %>
    <h1>Categories</h1>

    <% if @categories.any? %>
        <ul>
            <% @categories.each do |category| %>
                <%= render 'categories/list', category: category %>
            <% end %>
        </ul>
    <% else %>
        <p>No categories found.</p>
    <% end %>
<%= link_to 'New Category', new_user_category_path %>


<% end %>