
<%= turbo_frame_tag "category_list" do %>
    <div class="d-grid gap-2 shadow rounded p-3">
        <%= turbo_stream_from :cat_list %>
        <h4 class="text-center">Your categories</h4>

        <div id="cat_list">
            <% if @categories.any? %>
                    <% @categories.each do |category| %>
                        <%= render 'categories/list', category: category %>
                    <% end %>     
            <% end %>
        </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signedInModal">
        Add New Category
    </button>
    </div>
<% end %>